# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-iBXH8lYvGoFFCss9
OWNER_NUMBER=919188252308
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Asia/Kolkata
OWNER_NAME=KIRA
BOT_NAME=🇸‌🇦‌🇸‌🇭‌🇦‌ᵇᵒᵗ
RENDER_API_KEY=your-render-api-key
